{% extends 'base.html' %}

{% block content %}
<h1>Reservation for {{ request.session.name }} on {{ request.session.s_dt }} to {{request.session.e_dt}}</h1>
{%if request.session.error%}
<p>{{request.session.error}}</p>
{%endif%}

    <form method="post">
        {% csrf_token %}
            <div class="form-group">
                <label for="reason">Reason:</label>
                <input type="char" class="form-control" id="reason" name="reason" value={{request.session.reason}}>
            </div>
        <div class="form-group">
            <label for="participant">Participant:</label>
            <input type="int" class="form-control" id="participant" name="participant" value={{request.session.participant}}>
        </div>
        {%if request.session.category == 1%}
            <div class="form-group">
                <label for="destination">Destination:</label>
                <input type="char" class="form-control" id="destination" name="destination" value={{request.session.destination}}>
            </div>
        {%endif%}
        <button type="submit" class="btn btn-primary">Next</button>
        
    </form>
{% endblock %}

